{{>layout/header}}
<body>
	<div class="wrapper">
		<div class="container">
			<div class="row">
				{{>layout/navbar}}
			</div>
			<div class="row">
				{{>layout/sidebar}}
				
				<!-- responsive equal width cols, can be sm, md, lg, or xl -->
				
				<div class="col-md-10">
					<nav>
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Stock Report</a>
							<a class="nav-item nav-link disabled" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Report 2</a>
							<a class="nav-item nav-link disabled" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Report 3</a>
						</div>
					</nav>
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
							<form class="form-inline pt-4">
								<div class="col-md-4">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<label class="input-group-text" for="from">Start Date</label>
										</div>
										<input type="date" class="form-control clearit" id="from" onchange="changeAncAttSess();">
									</div>
								</div>
								<div class="col-md-4">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<label class="input-group-text" for="to">End Date</label>
										</div>
										<input type="date" class="form-control clearit" id="to" onchange="changeAncAttSess();">
									</div>
								</div>
								<div class="col-md-2">
									<a class="btn btn-primary mb-3 disabled" id="stockReport" target="_blank" href="/stockReport?course=B.Ed&session=2018-20">Generate Report</a>
								</div>
							</form>
							<div id="msg" class="py-4"></div>
						</div>
						<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
							<div class="pt-4">
								profile
							</div>
						</div>
						<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">contact</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- /.container -->
</body>
{{>layout/footer}}
